$clientWidth:17.7rem;
$titleHeight:0.489rem;
$conWidth:12.095rem;
$bannerConHeight:0.385rem;
$videoWidth:9.205rem;
@mixin bar($width){
	width: $width;
		img{
			height: 0.326rem;
			position: absolute;
			left: 0;
			top: -0.023rem;
		}
}
// 导航条
.server_title{
	width: $clientWidth;
	height: $titleHeight;
	background: #f5f6fa;
	z-index: 1000;
	overflow: hidden;
	position: relative;
	.server_con{
		height: 0.28rem;
		margin:0.14rem 0 0.082rem 1.468rem;
		display: flex;
		li{
			height: 100%;
			margin-right: 0.629rem;
			position: relative;
			cursor: pointer;
			a{
				display: line-block;
				line-height: 0.28rem;
				font-size: 0.163rem;
				color: #89909a;
				position: absolute;
				right: 0;
				font-family: "微软雅黑体";
			}
		}
		.first{
			@include bar(1.072rem);
		}
		.second{
			@include bar(1.864rem);
		}
		.third{
			@include bar(1.154rem);
			a{
				left: 0.419rem;
				background:url(../../../dist/xialaicon.png) no-repeat right;
			}
		}
		.forth{
			@include bar(1.119rem);
		}
	}
}
// banner
.server_banner{
	width: $clientWidth;
	height: 2.097rem;
	background: url(../../../dist/vive-support-banner-search.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	.server_contain{
		width: 10.487rem;
		margin:0.839rem auto;
		z-index: 1000;
		h3{
			width: 100%;
			height: $bannerConHeight;
			font-size: 0.256rem;
			line-height: $bannerConHeight;
			text-align: center;
			font-family: "微软雅黑体";
		}
		div{
			width: 100%;
			position: relative;
			#search{
				width: 100%;
				height: 0.466rem;
				border:1px solid #e5e6e8;
				border-radius: 0.35rem;
				padding-left: 0.221rem;
				font-size: 0.186rem;
			}
			.submit{
				width: 0.198rem;
				height: 0.175rem;
				border:none;
				background:url(../../../dist/search.png) no-repeat;
				background-size: 100% 100%;
				position: absolute;
				right: 0.28rem;
				top: 50%;
				margin-top: -0.087rem;
			}
		}
	}
}
//内容
.server_main{
	width: 14.426rem;
	margin:0.897rem 1.923rem 4.708rem 1.41rem;
	.server_zhuti{
		width: 100%;
		dt{
			font-size: 0.245rem;
			margin-bottom: 0.594rem;
		}
		dd{
			width: 3.321rem;
			float: left;
			margin-right: 0.373rem;
			h4{
				width: 100%;
				height: 0.431rem;
				font-size: 0.221rem;
				border-bottom: 2px solid #000;
				color: #3c3c3c;
			}
			p{
				position: relative;
				margin: 0.443rem auto;
				height: 0.816rem;
				cursor: pointer;
				font-family: "微软雅黑体";
				border-bottom: 0.012rem solid #e6e8ea;
				img{
					position: absolute;
					top: 0;
					left: 40%;
				}
				span{
					width: 1.608rem;
					font-size: 0.151rem;
					color: #89909a;
					position: absolute;
					bottom: 0;
					text-align: center;
					left: 50%;
					margin-left: -0.804rem;
				}
			}
			p:hover{
				img{
					color: #00b5e2;
					opacity: 0.5;
				}
				span{
					color: #00b5e2;
				}
			}
		}
		.last{
			margin-right: 0;
		}
	}
	.server_article{
		width: 100%;
		h4{
			font-size: 0.245rem;
			margin-bottom: 0.163rem;
			font-family: "微软雅黑体";
		}
		ul{
			width: 4.148rem;
			margin-right: 3.437rem;
			height: 2.598rem;
			float: left;
			li{
				width: 100%;
				a{
					display: block;
					color: #3c3c3c;
					font-size: 0.21rem;
					margin-top: 0.221rem;
				}
			}
			li:hover{
				a{
					color: #00b5e2;
				}
			}
		}
		.last{
			margin-right: 0;
		}
	}
	.server_video{
		width: $videoWidth;
		margin-top: 1.608rem;
		h4{
			font-size: 0.245rem;
			margin-bottom: 0.175rem;
			font-family: "微软雅黑体";
		}
	}
}